---
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<h2>Post Archive</h2>

{% for post in posts %}
<p>
<a href="{{post.url}}">{{ post.data.title }}</a> - {{ post.date }}<br/>
{% excerpt post %}
</p>
{% endfor %}

<p>
{% if pagination.href.previous %}
<a href=" {{ pagination.href.previous }}">Previous</a>
{% else %}
Previous
{% endif %} 
/ 
{% if pagination.href.next %}
<a href=" {{ pagination.href.next }}">Next</a>
{% else %}
Next
{% endif %}
</p>
